body {
    font-family: Arial, sans-serif;
    background-color: #1c8fc8; 
}

.country-list {
    list-style: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.country {
    border: 1px solid #ddd;
    border-radius: 5px;
    margin: 10px 0;
    overflow: hidden;
    width: 100%;
    /* width: calc(20% - 20px); 20% width for 5 items per row with 10px margin */
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: #5a93a0; 
}

.country img {
    max-width: 100px;
    margin-bottom: 10px;
}

.search-container { 
    display: flex;
    justify-content: space-between;/*seperate search bar*/
    align-items: center;
}

