body {
    font-family: Arial, sans-serif;
}

.country-list {
    list-style: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.country {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
    /*width: calc(50% - 20px); /* Two countries per row */
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.country img {
    max-width: 100px;
    margin-bottom: 10px;
}