body {
    font-family: Arial, sans-serif;
    background-color: #1c8fc8;
    margin: 0;
    padding: 0;
}

.country-list {
    list-style: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.country {
    border: 1px solid #ddd;
    border-radius: 5px;
    margin: 10px 0;
    overflow: hidden;
    width: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: #5a93a0;
}

.country img {
    max-width: 100px;
    margin-bottom: 10px;
}

#searchResults {
    background-color: #dbf60b; /* Change to your desired background color */
    border: 3px solid #000200; /* Change to your desired border color */
    padding: 20px;
}
